body {
      font-family: Arial;
      display: flex;
      justify-content: center;
      margin-top: 50px;
    }

    .calc {
      width: 280px;
      padding: 20px;
      border: 1px solid #333;
      border-radius: 10px;
    }

    #display {
      width: 100%;
      height: 60px;
      font-size: 22px;
      text-align: right;
      margin-bottom: 15px;
    }

    .container {
      display: flex;
    }

    /* Left: Numbers */
    .numbers {
      width: 75%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;
    }

    /* Right: Operators */
    .ops {
      width: 25%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-left: 10px;
    }

    button {
      width: 100%;
      height: 50px;
      font-size: 20px;
      cursor: pointer;
    }

    .equal {
      background: green;
      color: white;
    }
    .clear {
      background: crimson;
      color: white;
      margin-top: 10px;
    }