body{
    display:flex;
    height:100vh;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.small-box{
    height: 200px;
    width: 200px;
    background-color: teal;
    border-radius: 100px;
    border:solid black;
}

.big-box{
    height: 400px;
    width: 400px;
    background-color: blueviolet;
    border-radius: 250px;
    border: solid black;
}