:root{
     --btn:#c8286d; --gap:10px;
     border-radius:10px;
     display:flex; justify-content:center;align-items: center ;
  }
   body{
    margin:0; 
    min-height:100vh;
    display:flex; justify-content:center;align-items: center ;
    background: linear-gradient(180deg,#cbcb1f); 
  }

  .calculator{
    width: min(480px);
    background: linear-gradient(180deg,rgb(24, 2, 58),#023161);
    padding:15px;
    border-radius:10px;
    box-shadow: 0 10px 30px rgb(2,6,23);
    display: grid; 
    grid-template-columns: repeat(4, minmax(60px, 1fr));   /* 4 columns */
    grid-template-rows: minmax(72px, auto) repeat(5, 64px); /* 1 display row + 5 button rows */
    gap: 10px;
  }

  /* Buttons */
  .btn{
    border: none; outline: auto;
    background: var(--btn);
    font-size: 1.15rem;
    border-radius:10px;
  }

  .display{
    outline: auto; 
    display: grid;
    grid-column: 1 / -1;   /* full width */
    background: linear-gradient(90deg,#0b1220,#07122a); 
    padding: 12px;
    border-radius: 10px;
    text-align: right;
    align-items: center;
    color: #e6eef8;
    font-size: x-large;
  }

  /* Buttons */
  .btn{
    border: none; outline: none;
    background: var(--btn);
    color: #e6eef8;
    font-size: 1.15rem;
  }

  .btn.op { background: linear-gradient(180deg,#efa844,#dc2626); }
  .btn.equal { background: linear-gradient(180deg,#10b916,#059669); }

  /* Span two columns (e.g., 0) */
  .span-2 { grid-column: span 2;color: white; background-color: #222831; }

  /* small visual tweaks for clarity */
  .btn.clear { background: #222a34; color: #f8fafc; font-weight:600; }
