:root {
      --primary: #f4f4f9;
      --sidebar-bg: #2c3e50;
      --accent: #1abc9c;
      --danger: #ff6f61;
      --text: #333;
      --card-bg: #fff;
    }

    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: "Poppins", sans-serif;
      background: var(--primary);
      display: flex;
      max-height: 100vh;
    }

    .content {
      flex: 1;
      padding: 2rem;
      height: full;
      overflow-y: scroll;
    }

    .section-title {
      text-align: center;
      margin: 2rem 0;
      font-size: 2rem;
      color: var(--sidebar-bg);
    }

    .products {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
    }

    .card {
      background: rgb(242, 242, 243);
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 4px 15px rgba(0,0,0,0.15);
      max-width: 280px;
      text-align: center;
      transition: transform 0.3s;
    }

    .card:hover {
      transform: translateY(-8px);
    }

    .card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    #image {
    width: 200px;   /* jitna chota chahiye */
    height: 200px;
    object-fit: cover;
    border-radius: 10px; /* optional */
    padding: 10px;
}


    .card h3 {
      margin: 1rem 0 0.5rem;
      color: var(--text);
    }

    .card p {
      font-size: 0.9rem;
      padding: 0 1rem;
      color: #666;
    }

    .buy-btn {
      display: inline-block;
      margin: 1rem;
      padding: 0.7rem 1.2rem;
      background: var(--danger);
      color: #fff;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-weight: bold;
      transition: background 0.3s;
    }

    .buy-btn:hover {
      background: #1d1a1a;
    }

   