        body {
            font-family: Arial;
            padding: 20px;
        }

        .box {
            padding: 10px;
            margin: 10px 0;
            border-radius: 6px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: rgb(18, 17, 17);
        }

        .cut {
            text-decoration: line-through;
            opacity: 0.6;
        }

        button {
            margin-left: 5px;
            padding: 4px 8px;
            font-size: 14px;
            cursor: pointer;
        }

        .editBtn { background: #222; color: white; }
        .doneBtn { background: #444; color: white; }